---
name: CI - Validate Actions

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  validate:
    name: Validate YAML
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Lint YAML
        uses: cyberskill-world/.github/actions/lint-yaml@main
